body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: large;
    background-color: #242422;
    color: rgb(255, 255, 255);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    justify-content: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 225px;
    cursor: pointer;
    background-color: #5a5656;
    color: #00000000;
    border-radius: 25px;
}

div.square:hover {
    background-color: #790479;
}

#records {
    display: flex;
    flex-direction: row;
}