.name {
    display: flex;
    justify-content: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    justify-content: center;
}
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 225px;
    box-shadow: 2px 2px 2px 2px #998972;
    border: 2px solid ;
    cursor: pointer;
}